.output {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  padding-top: 5rem;
  background-color: var(--page-background);
  color: var(--page-text-color);
}

.output .content{
  flex: 0 0 50%;
}

.output__btn {
  border: none;
  background-color: var(--button-background);
  margin-bottom: 3rem;
}

.output h1 {
  display: flex;
}

.output svg {
  margin-right: 1rem;
}
