*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

:root {
  --button-background: #0753a5;
  --page-background: #2d333f;
  --page-text-color: #fff;
}

html[data-theme="light"] {
  --button-background: #333435;
  --page-background: #fff;
  --page-text-color: #000;
}

html[data-theme="minimal"] {
  --button-background: #717172;
  --page-background: #bbbbbb;
  --page-text-color: #434850;
}
